<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Name:</th>
        <th>Quantity:</th>
        <th>Price:</th>
    </tr>
    </thead>
    <tbody>
    <form th:action="@{/admin/part/stock}" method="post">
    <tr th:each="parts : ${parts}">
        <td><p th:text="${parts.name}"/></td>
        <td><input type="number" th:value="${parts.quantity}" name="newQuantity"/></td>
        <td><input type="number" th:value="${parts.price}" name="newPrice"/></td>
        <td><button type="submit" name="partId" th:value="${parts.id}">Submit</button></td>
    </tr>
    </form>
    </tbody>
</table>

</body>
</html>